@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

/*font-family: 'Clicker Script';

font-family: 'Playfair Display';*/